.carrots {
  height: 400px;
}

.invisible {
  visibility: false;
}

.edge-padding {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.image-centred {
  text-align:center;
}
