<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/modules/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="/css/blog-post.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">{{site_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {{#navbar}}
            <li class="nav-item {{active}}">
              <a class="nav-link" href="{{url}}">{{name}}
              {{#current}}<span class="sr-only">{{raisin}}</span>{{/current}}</a>
            </li>
            {{/navbar}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">
        <div class="col-lg-1">
        </div>

        <!-- Post Content Column -->
        <div class="col-lg-10">

          <!-- Title -->
          <h1 class="mt-4">{{blog_title}}</h1>
          <!-- Date/Time -->
          <p>{{blog_date}}</p>

          <hr>

          <!-- Post Content -->

            <div class="col-lg-12">
              <div class="card">

                <div class="card-body blog-post">
                  {{{blog_post}}}

                </div>
                {{#edit}}
                <div class="card-footer links-white">
                  <a href="{{url}}">Edit this post</a>
                  <a href="{{url2}}">Delete this post</a>
                </div>
                {{/edit}}

              </div>
            </div>



            {{#card}}
            <div class="col-sm-4 my-4">
              <div class="card">
                {{#image}}<img class="card-img-top" src="{{url}}" alt="">
                <div class="card-body">{{/image}}
                  <h4 class="card-title">{{title}}</h4>
                  {{#imageid}}<h5 class="card-title">{{id}}</h5>{{/imageid}}
                  <p class="card-text">{{text}}</p>
                </div>
                {{#button}}
                <div class="card-footer">
                  <a href="{{url}}" class="btn btn-primary">{{text}}</a>
                </div>
                {{/button}}
              </div>
            </div>
            {{/card}}

          <hr>




      </div>
      <!-- /.row -->

    </div>
  </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-{{footer_size}} bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{site_name}}</p>
        {{#credit}}
        <p class="m-0 text-center text-white links-white">Site developed by <a href="entropyinnovations.com">{{webdever}}</a></p>
        <p class="m-0 text-center text-white">Content by Jojen Willis</p>
        {{/credit}}
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
