<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="{{metadata}}">
    <meta name="author" content="Jojen Willis">

    <title>{{title}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/modules/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/business-frontpage.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">{{site_name}}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            {{#navbar}}
            <li class="nav-item {{active}}">
              <a class="nav-link" href="{{url}}">{{name}}
              {{#current}}<span class="sr-only">{{raisin}}</span>{{/current}}</a>
            </li>
            {{/navbar}}
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">
      {{#alert}}
      <div class="alert alert-{{type}}" role="primary">
        {{message}}
      </div>
      {{/alert}}
  {{#page_text}}
      <div class="row">
        <div class="col-sm-12">
          {{#main}}
          {{#title}}
          <h2 class="mt-4">{{words}}</h2>
          {{/title}}
          {{#title_small}}
          <h3 class="mt-4">{{words}}</h3>
          {{/title_small}}
          {{#paragraph}}
          <p>{{content}}</p>
          {{/paragraph}}
          {{#image}}
            <div class="row {{centering}}">
                {{#img}}
                <div class="col-sm-4">
                <img src="{{url}}" alt="{{alt_text}}" class="carrots img-fluid edge-padding">
                </div>
                {{/img}}
                {{#img2}}
                <div class="col-sm-4">
                <img src="{{url}}" alt="{{alt_text}}" class="img-fluid edge-padding">
                </div>
                {{/img2}}
              <div class="col-sm-8">
                <p></p>
                {{#img_text}}
                <p>{{content}}</p>
                {{#button}}
                <p>
                  <a class="btn btn-primary btn-lg" href="/contact">{{name}} &raquo;</a>
                </p>
                {{/button}}
                {{#button2}}
                <p>
                  <a class="btn btn-primary btn-lg" href="/{{uri}}">{{name}} &raquo;</a>
                </p>
                {{/button2}}
                {{/img_text}}
              </div>
            </div>
          {{/image}}
          {{#image2}}
          <div class="row">
            <div class="col-sm-4">
              <img src="{{url}}" alt="{{alt_text}}" class="carrots img-fluid edge-padding">
            </div>
          </div>
          {{/image2}}
          {{#search}}
          <div class="col-sm-4">
          <form action="/manage" method="post">
            <label for="search">Enter the gallery of the photo you wish to find:</label>
            <select name="gallerysearch" class="form-control" id="gallerysearch">
              <option value="wildlife">Wildlife</option>
              <option value="city">City</option>
              <option value="people">People</option>
              <option value="landscape">Landscape</option>
              <option value="people-animals">People (and Other Animals)</option>
            <label for="search">Enter the identification number of the photo you wish to find:</label>
            <input type="text" name="search" id="search" required="true">
            <button type="submit" class="btn btn-primary">{{name}}</button>
          </form>
        </div>
          {{/search}}
          {{/main}}
          {{#button}}
          <p>
            <a class="btn btn-primary btn-lg" href="/about">{{name}} &raquo;</a>
          </p>
          {{/button}}

  {{/page_text}}

      <!-- /.row -->
    {{#images}}
      {{#title}}
    <div class="row">
      <div class="col-sm-12">
        <h3>{{tit}}</h3>
      </div>
    </div>
      {{/title}}
      <div class="row">
        {{#card}}
        <div class="col-sm-4 my-4">
          <div class="card">
            <a href="{{url2}}">{{#image}}<img class="card-img-top" src="{{url}}" alt="">
            {{/image}}</a>
          </div>
        </div>
        {{/card}}

      </div>
      {{/images}}
      <!-- /.row -->

      </div>
    </div>
  </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-{{footer_size}} bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; {{site_name}}</p>
        {{#credit}}
        <p class="m-0 text-center text-white links-white">Site developed by <a href="http://www.entropyinnovations.com">{{webdever}}</a></p>
        <p class="m-0 text-center text-white">Content by Jojen Willis</p>
        {{/credit}}
      </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="modules/jquery/jquery.js"></script>
    <script src="modules/bootstrap/js/bootstrap.bundle.js"></script>

  </body>

</html>
